@{
    ViewData["Title"] = "Home Page";
}

<div class=" jumbotron ">
    <hs> Welcome to MedID </hs>
</div>

<div class= "row">
    <div>
        Cole Miller
    </div>
    <div>
        DataA&D; 
    </div>
</div>

